@font-face {
    font-family: Comfortaa;
    src: url(fonts/Comfortaa/static/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: Maven_Pro;
    src: url(fonts/Maven_Pro/static/MavenPro-Regular.ttf);
}

:root {
    --background-color: rgb(38, 37, 37);
    --navbar-background-color: rgb(27, 27, 27);
    --container-background-color: rgb(76, 76, 76);
    --div-item-background-color:  rgb(100, 100, 100);
    --button-hover-background-color: rgb(166, 163, 163);
    --color: #FFFFFA;
    --border-color: #FFFFFA;
    --heading-font: Comfortaa;
    --text-font: Maven_Pro;
    --border-radius: 5px;
    --number-heading-size: 3rem;
    --button-padding: 10px 15px;
    --container-shadow:0 1px 0 0 white;
}


/* over all style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
body {
    background-color: var(--background-color);
    
}
.heading {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px 10px;
    background-color: var(--div-item-background-color);
    border-radius: var(--border-radius);
}
/* navlist */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 100vh;
    display: flex;
    background-color: var(--navbar-background-color);
    color: var(--color);
    overflow: hidden;
    font-family: var(--heading-font);
    transition: .3s linear width;
    border-right: 1px solid rgb(0, 0, 0);
    z-index: 10000;
}
.nav-toggler {
    width: 280px;
}
.navbar .nav-list .nav-item{
    display: flex;
    align-items: center;
    width: 280px;
    margin: 15px 0;
    padding: 10px 0;
    cursor: pointer;
}
.navbar .nav-list .nav-item:hover {
    background-color: var(--container-background-color);
}
.navbar .nav-list .nav-item a {
    text-decoration: none;
    color: var(--color);
}
.navbar .nav-list .nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.navbar .nav-list .nav-image {
    width: 27px;
    margin-left: 11px;
    margin-right: 15px;
}

/* menu-button */
.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    margin-left: 13px;
    margin-right: 17px;
    z-index: 10;
}
.button .menu-line {
    position: relative;
    background-color: white;
    height: 2px;
    width: 23px;
    z-index: -1;
}
.button .menu-line::after,
.button .menu-line::before {
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    left: 0;
    transition: .2s linear;
    transition-property: top, bottom;
}
.button .menu-line::after {
    top: 9px;
}
.button .menu-line::before {
    bottom: 9px;
}
.button .menu-line.active::after {
    top: 0px;
}
.button .menu-line.active::before {
    bottom: 0px;
}
/* body */
#body {
    color: white;
}
#body .container {
    width: 100%;
    min-height: 100vh;
}
#body .container .item {
    margin: 25px 0;
    margin-left: 75px;
    margin-right: 30px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

/* box1 */
#body .container .item #timer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--container-background-color);
    border-radius: var(--border-radius);
    font-family: var(--text-font);
    z-index: 1;
}
#body .container .item #timer .box1-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#body .container .item #timer .box1-container.hide {
    display: none;
}
#body .container .item #timer .box1-overlay {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}#body .container .item #timer .box1-overlay.show {
    display: flex;
}
#body .container .item #timer .box1-overlay .overlay-button {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
#body .container .item #timer .box1-overlay .progress-value {
    width: 200px;
    height: 200px;
    font-family: var(--heading-font);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin: 30px;
}
#body .container .item #timer .box1-overlay .stop-button {
    padding: var(--button-padding);
    background-color: var(--div-item-background-color);
    border-radius: var(--border-radius);
    margin-bottom: 15px;
    cursor: pointer;
    transition: .2s linear background-color;
}
#body .container .item #timer .box1-overlay .pause-button {
    padding: var(--button-padding);
    background-color: var(--div-item-background-color);
    border-radius: var(--border-radius);
    margin-bottom: 15px;
    cursor: pointer;
    transition: .2s linear background-color;
}
#body .container .item #timer .box1-overlay .pause-button.hide {
    display: none;
}
#body .container .item #timer .box1-overlay .continue-button {
    padding: var(--button-padding);
    background-color: var(--div-item-background-color);
    border-radius: var(--border-radius);
    margin-bottom: 15px;
    cursor: pointer;
    display: none;
    transition: .2s linear background-color;
}
#body .container .item #timer .box1-overlay .continue-button.show {
    display: block;
}
#body .container .item #timer .box1-overlay .continue-button:hover {
    background-color: var(--button-hover-background-color);
}
#body .container .item #timer .box1-overlay .stop-button:hover {
    background-color: var(--button-hover-background-color);
}
#body .container .item #timer .box1-overlay .pause-button:hover {
    background-color: var(--button-hover-background-color);
}
#body .container .item .box1 .header {
    width: 80%;
    margin: 15px 0;
    
}
#body .container .item .box1 .header h1 {
    margin-bottom: 8px;
}
#body .container .item .box1 .stop-watch {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 60%;
    background-color: var(--div-item-background-color);
    border-radius: var(--border-radius);
    border: 1px solid grey;
    margin-bottom: 15px;
    box-shadow: var(--container-shadow);
}
#body .container .item .box1 .stop-watch .left {
    padding: 30px 0;
    border-right: 1px solid grey;
}
#body .container .item .box1 .stop-watch .left .timer {
    font-size: var(--number-heading-size);
}
#body .container .item .box1 .stop-watch .stop_watch_buttons {
    display: grid;
    align-items: center;
}
#body .container .item .box1 .stop-watch .stop_watch_buttons img {
    width: 30px;
}
#body .container .item .box1 .stop-watch .stop_watch_buttons div {
    height: 100%;
    cursor: pointer;
    transition: .1s linear background-color;
}
#body .container .item .box1 .stop-watch .stop_watch_buttons div:hover {
    background-color: var(--button-hover-background-color);
}
#body .container .item .box1 .stop-watch .stop_watch_buttons .up-button {
    border-bottom: 1px solid grey;
    
}
#body .container .item .box1 .stop-watch .stop_watch_buttons div {
    align-items: center;
    display: flex;
    justify-content: center;
}
#body .container .item .box1 .break-session {
    margin-bottom: 15px;
}
#body .container .item .box1 .start-button {
    padding: 10px 15px;
    background-color: var(--div-item-background-color);
    margin-bottom: 15px;
    border-radius: var(--border-radius);
    transition: .1s linear background-color;
    cursor: pointer;
}
#body .container .item .box1 .start-button:hover {
    background-color: var(--button-hover-background-color);
}

/* box2 */
/* daily goal */
#body .container .item .box2 {
    display: grid;
    gap: .5rem;
    
}
#body .container .item .box2 #goal {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--container-background-color);
    border-radius: var(--border-radius);
    font-family: var(--text-font);
    position: relative;
}
#body .container .item .box2 .goal-content {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#body .container .item .box2 .time-goal {
    padding: 50px;
    margin: 20px 0;

}
#body .container .item .box2 .time-goal div {
    font-size: var(--number-heading-size);
}
#body .container .item .box2 .completed-hour {
    padding: var(--button-padding);
    margin-bottom: 15px;
    background-color: var(--div-item-background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--container-shadow);
}

/* break */
#body .container .item .box2 #break {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--container-background-color);
    border-radius: var(--border-radius);
    font-family: var(--text-font);
    position: relative;
}
#body .container .item .box2 #break .caption {
    width: 70%;
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: var(--div-item-background-color);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    box-shadow: var(--container-shadow);
}
#body .container .item .box2 #break .break-buttons {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 15px;
}
#body .container .item .box2 #break span img {
    width: 50px;
    background-color: var(--div-item-background-color);
    border-radius: var(--border-radius);
    transition: .1s linear background-color;
}
#body .container .item .box2 #break span img:hover {
    background-color: var(--button-hover-background-color);
}


/* Records */
#body .container .item #records {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--container-background-color);
    border-radius: var(--border-radius);
    font-family: var(--text-font);
    position: relative;
    min-height: 400px;
}
#body .container .item #records .title {
    margin-top: 50px;
    padding: 5px 0;
    background-color: var(--div-item-background-color);
    width: 90%;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: var(--container-shadow);
    
}
#body .container .item #records .title div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
#body .container .item #records .title div:nth-child(1) {
    border-right: 1px solid var(--border-color);
}
#body .container .item #records .title div:nth-child(2) {
    border-right: 1px solid var(--border-color);
}
#body .container .item #records .record-output {
    width: 90%;
    margin-top: 10px;
    height: 280px;
    border-radius: var(--border-radius);
    background-color: var(--div-item-background-color);
    display: flex;
    justify-content: end;
    align-items: start;
    overflow-y: scroll;
    
}
#body .container .item #records .record-output .record-output-item {
    width: 109%;
    height: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--button-hover-background-color);
    margin: 5px 0;
}
/* task */
#body .container .item #task {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--container-background-color);
    border-radius: var(--border-radius);
    font-family: var(--text-font);
    position: relative;
    min-height: 400px;
}
#body .container .item #task .options {
    margin-top: 10px;
    background-color: var(--div-item-background-color);
    width: 90%;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: 45% 48% auto;
    box-shadow: var(--container-shadow);
    
}
#body .container .item #task .title {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--div-item-background-color);
    border-radius: var(--border-radius);
    
}

#body .container .item #task .options div {
    display: grid;
    align-items: center;
    cursor: pointer;
}
#body .container .item #task .options .line {
    border-right: 1px solid var(--border-color);
}
#body .container .item #task .options div:nth-child(1) {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    
    
}
#body .container .item #task .options div:nth-child(3) {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
#body .container .item #task .options div:hover {
    background-color: var(--button-hover-background-color);
}
#body .container .item #task .options img {
    width: 30px;
}
#body .container .item #task .task-output {
    width: 95%;
    margin-top: 10px;
    height: 280px;
    border-radius: var(--border-radius);
    background-color: var(--div-item-background-color);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
#body .container .item #task .task-output.active-output {
    display: none;
}
#body .container .item #task .task-output .list1 {
    display: grid;
    width: 90%;
    background-color: var(--button-hover-background-color);
    text-align: start;
    padding: 5px;
    margin-top: 10px;
    border-radius: var(--border-radius);
}
#body .container .item #task .task-output .list1 p {
    margin: 5px 15px;
}
#body .container .item #task .task-output .list1 .list-button {
    display: flex;
    justify-content: end;
    margin: 5px;
}
#body .container .item #task .task-output .list1 .list-button div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#body .container .item #task .task-output .list1 .list-button img {
    width: 25px;
    margin-left: 5px;
    border-radius: var(--border-radius);
    cursor: pointer;
}
#body .container .item #task .task-output .list1 .list-button img:hover {
    animation: bounce .5s;
    background-color: var(--container-background-color);
}
@keyframes bounce {
    25% {
        transform: scale(.8,1.2);
    }
    100% {
        transform: scale(1.2,.8);
    }
}
#body .container .item #task .task-completed {
    width: 95%;
    margin-top: 10px;
    height: 280px;
    border-radius: var(--border-radius);
    background-color: var(--div-item-background-color);
    display: none;
    justify-content: center;
    align-items: start;
    overflow-y: scroll;
}
#body .container .item #task .task-completed.active-comleted{
    display: flex;
}
/* media query */
@media(max-width: 680px) {
    #body .container .item {
        grid-template-columns: auto;
    }
}